#add_product
{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding: 8px 40px;
}

#products_data
{
    margin-top: 30px;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
}
#card
{
    height: 300px;
    width: 100%;
    border: 1px solid gray;
    margin: auto;
}
#button{
    padding: 7px 12px;
    border: none;
    background-color: red;
    color: white;
    font-size: 16px;
    display: flex;
    margin: auto;
}